.experience-container {
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    opacity: 0;
    color: rgb(33, 37, 41) !important;
    transition:
        background-image 0.7s ease,
        opacity 0.5s ease;
}
.aspiris-background {
    opacity: 1;
    background-image: url('./assets/aspirisBackground.svg');
}
.catchpoint-background {
    opacity: 1;
    background-image: url('./assets/catchpointBackground.svg');
}
.tgcs-background {
    opacity: 1;
    background-image: url('./assets/tgcsBackground.svg');
}
.experience-title {
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .experience-content-grid {
        display: grid;
        width: 100%;
    }
}
.experience-display-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.experience-buttons {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    .experience-buttons {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }
    .button-overlay-content > h3 {
        font-size: 2vw;
    }
}
@media screen and (max-width: 1024px) {
    .experience-buttons {
        display: grid;
        grid-auto-rows: repeat(3, 1fr);
        padding-inline: 50px;
    }
    .button-overlay-content > h3 {
        font-size: 3.5vw;
    }
}
.experience-button {
    border: 1px solid black;
    padding: 1rem 1rem;
    margin: 0.5rem 2rem;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.experience-button-image {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}
.button-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-out;
    transform: translateY(-100%);
}
.experience-button:hover .experience-button-image {
    opacity: 0.5;
}
.experience-button:hover .button-overlay {
    transform: translateY(0);
}
.button-overlay-content {
    padding-top: 10%;
}

.experience-swiper-container > div {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: red;
}
.experience-swiper-container {
    width: 100%;
    height: 100%;
}
.experience-swiper-object {
    width: 100%;
    height: 100%;
}
.experiece-swiper-container:nth-child(1) {
    background-color: red;
}
.experiece-swiper-container:nth-child(2) {
    background-color: orange;
}
.experiece-swiper-container:nth-child(3) {
    background-color: yellow;
}
.experience-arrow {
    width: 50px;
    height: 20px;
}
.experience-carousel {
    z-index: 2;
}
.experience-object-container {
    margin-inline: 15%;
    margin-block: 10%;
    border: 1px solid black;
    padding: 2% 2%;
}
.experience-object-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5%;
}
.experience-object-title {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px) {
    .experience-object-logo {
        max-width: 35%;
    }
    .aspiris-software-container {
        flex-direction: row;
        margin-top: 40px;
        max-height: 10dvh;
        gap: 40px;
    }
    .aspiris-software-container > img {
        min-width: 10dvw;
        max-width: 20dvw;
    }
}
@media screen and (max-width: 1024px) {
    .experience-object-logo {
        min-height: 5dvh;
    }
    .experience-object-header {
        flex-direction: column-reverse;
    }
    .aspiris-software-container {
        flex-direction: column;
        gap: 20px;
    }
    .aspiris-software-container > img {
        margin-right: auto;
        margin-left: auto;
        max-height: 15dvh;
        max-width: 20dvw;
    }
}
.experience-object-list {
    list-style-type: square;
}
.experience-object-list > li {
    margin-bottom: 2%;
    font-size: 1.25em;
}
.experience-tgcs-list {
    list-style-type: circle;
}
.experience-tgcs-list > li {
    margin-bottom: 1%;
    font-size: 1.25rem;
}
.experience-object-quote {
    margin-left: 20px;
    font-weight: 400;
    font-size: 1.25rem;
}
.catchpoint-card {
    background-color: #bedde6;
}
.aspiris-card {
    background-color: #bee6d7;
}
.tgcs-card {
    background-color: #d6d1e6;
}
.aspiris-software-container {
    display: flex;
    justify-content: center;
}
.resume-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.resume-button {
    background-color: #4caf50;
    padding: 8px 12px;
    color: #efefef;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 30%;
    text-align: center;
    height: 22.5%;
}
